* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
    font-family: 'Arimo', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Arimo', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
    @media @mobile {
        width: 100%;
    }
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}





/*About Page*/

.About-html {
    height: 100%;
    font-family: 'Ibarra Real Nova', serif;
}